extends layout
block content
    link(rel="stylesheet", href='/stylesheets/userlist.css')
    div.center-column
        table.user-table.center.sortable
            thead
                th Name
                th Email
                th ID
                th
            each user, i in userlist
                tr
                    td #{user.username}
                    td #{user.email}
                    td #{user._id}
                    td.remove
                        button.removemodal(class="fancybox.iframe", href="/remove-user?userid=#{user._id}&username=#{user.username}")

        div.add-new-user
            button.addusermodal(class="fancybox.iframe", href="/newuser") Add New User
    script(src="/javascripts/userlist.js")

